body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;

}

footer {
    font-style: italic;
    margin-top: 15px;

}

.imagem {
    width: 250x;
    height: 250px;
}
div#msg {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
